img {
  width: 400px;
  height: 100%;
  margin-right: 20px;
}

#gallery {
  list-style: none;
  display: flex;
}

.task {
  text-align: center;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
